.img-presente {
    width: 30%; /* Reduz a largura em 40% */
    height: auto; /* Mantém a proporção da altura */
}

body {
    font-family: Arial, sans-serif;
    background-color: #ffdce8;
    text-align: center;
    margin: 0;
    padding: 0;
}

header {
    width: 100%;
}

.banner {
    width: 100%;
    height: auto;
    max-height: 780px;
}

h1 {
    font-size: 2em;
    margin: 20px 0;
}

/* Alinhamento do input e botão enviar */
.input-group {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Caixa de texto de senha */
input[type="password"] {
    padding: 10px;
    font-size: 1.2em;
    width: 300px; /* Ajuste o tamanho conforme necessário */
    margin-right: 10px; /* Espaço entre input e botão */
}

/* Botão Enviar (agora rosa e sem imagem) */
#btnEnviar {
    padding: 10px 20px;
    background-color: #ff66b2; /* Cor rosa */
    color: white;
    border: none;
    font-size: 1.2em;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

#btnEnviar:hover {
    background-color: #e05599; /* Cor rosa mais escura ao passar o mouse */
}

#senhaArea {
    margin-top: 20px;
}

#presenteArea {
    margin-top: 20px;
}
